<h1>パスワード再設定</h1>

<p>パスワードを再設定するために下のリンクを押してください！</p>

<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは2時間まで有効です。</p>

<p>
パスワードのリセットをリクエストしていない場合は、このメールを無視してください。
パスワードはそのまま残ります。
</p>
