@import "bootstrap-sprockets";
@import "bootstrap";

/*point_give*/

ol {
  float: right;
  padding: 10px 10px;
  h3 {
    float: right;
    border: solid 3px; 
    padding: 10px; 
    margin-right: 7px;
    margin-left: 7px;
  }
}