@import "bootstrap-sprockets";
@import "bootstrap";

/*col-md-8*/

ol {
  float: right;
  padding: 10px 10px;
  p {
    border: solid 3px; 
    padding: 10px; 
    margin-right: 7px;
    margin-left: 7px;
  }
}